

.content{
    background-color: aqua;
    display: inline;
}
.nazivi{
    float:left;
    border: solid 1px;
    width: 50%;
    color: teal;
    padding-top: 20px;
    font-size:30px;
}
ul {
    list-style-type:none;
}
.ocene{

    padding-top: 20px;
    float:left;
    border: solid 1px;
    width: 30%;
}

input[type="number"] {
    width: 50px;
    height: 20px;
}

.spisakPredmeta
{
    padding-left: 20px;
    padding-bottom: 20px;
    padding:5px;
}