@charset "utf-8";

.content{
    background-color: aqua;
    display: inline;
}
.nazivi{
    float:left;
    border: solid 1px;
    width: 50%;
    padding-top: 12px;
}
ul {
    list-style-type:none;
}
.ocene{
    padding-top: 0px;
    float:left;
    border: solid 1px;
    width: 30%;
}