@charset "utf-8";

.content{
    background-color: aqua;
    display: inline;
}
.nazivi {
    float: left;
    width: 20%;
    padding-top: 1px;
font-size: 18px;}
.ocene{
padding-bottom:30px;
    padding-top: 20px;
    float:left;
    float:bottom;
    width:20%;}
